@page
@model RecurringJobModel
@{
    ViewData["Title"] = "Recurring Job Created";
}
<h1>@ViewData["Title"]</h1>

<p>This page schedule recurring job please check <a href="/EnqueueIt">Enqueue It dashboard</a> for more details.</p>
