@page
@model ScheduleJobModel
@{
    ViewData["Title"] = "Schdeule Job Created";
}
<h1>@ViewData["Title"]</h1>

<p>This page schedule new job please check <a href="/EnqueueIt">Enqueue It dashboard</a> for more details.</p>
